body{background-color: rgb(124, 194, 255); 
    font-family:Tahoma;
    text-align:center;
}

label{
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
}

input,button{
    color: white;
    background-color: black;
    font-size: 20px;
    border-radius: 8px;
}